body{margin:0px; padding:0px;}

.fr1{height:350px ; width:100% ; background :}

.ph1 img{height:100%; width:430px; margin-top:50px; margin-right:15px;}
.ph1{height:290px; width:430px; float:right; margin-top:30px; background:}
.text{ margin-top:100px; margin-left:50px; width:400px;display:inline-block; font-size:25px; font-family:arial black;}


.fd1{height:450px ; width:900px; background :#673AB7 ; margin-top:130px; border-radius:20px; margin-left:45px; margin-right:40px;}

.pd1 img{height:100%; width:100%; margin-top:30px; margin-right:5px;}
.pd1{height:400px; width:350px; float:right; margin-top:19px;}
.texd{ margin-top:170px; margin-left:50px; width:400px;display:inline-block; font-size:25px; font-family:arial black; color:white; }
.texd a {text-decoration:none; background:tomato; color:white; padding:13px; border-radius:13px; font-size:30px; font-family:arial black; border:1px solid black;}



   